body {
  /*background-color: #f0f0f0;*/
  background-image: linear-gradient(to bottom, #006b12, #000000);
  background-size: 100% 100%; /* Stretch the gradient across the entire page */
  background-position: center;
  background-repeat: no-repeat;
  height: 100%; /* Ensure the body and html take up the full height */
  margin: 0;
}

html {
  width: 100%;
}
.social-icons a {
  color: #333;
  margin: 0 10px;
  font-size: 24px;
  text-decoration: none;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #007bff;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.event-title {
  width: fit-content;
}

.card.event {
  height: calc(100% - 32px);
  transition: transform 0.3s ease-in-out;
  margin: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card.event:hover {
  transform: scale(1.05); /* Slight zoom effect on hover */
}

body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.tabs {
  display: flex;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  margin-bottom: 20px;
  margin: auto;
  width: 70%;
}

.tab {
  padding: 10px 20px;
  margin-right: 5px;
  /*background-color: #f1f1f1;
    border-radius: 5px 5px 0 0;
    border: 1px solid #ccc;*/
}

.tab.active {
  background-color: #fff;
  color: green;
  border-bottom: none;
  text-decoration: underline;
}

.tab-content {
  /*border: 1px solid #ccc;*/
  text-align: justify;
  padding: 20px;
  display: none;
}

.tab-content.active {
  display: block;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.menu-item-name {
  font-weight: bold;
}

.carousel-indicators {
  margin-bottom: -20px;
}

.carousel-card {
  min-height: 30rem;
}

#gallery {
  scroll-snap-type: x mandatory;
  overflow: auto;
  display: flex;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

@keyframes gallery {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo_img {
  max-width: 100%;
  height: auto;
  max-height: 14rem;
}

#gallery .card {
  scroll-snap-align: end;
  min-width: 30%;
  /*animation: gallery 10s linear infinite; */
}

#gallery.card:hover {
  animation-play-state: paused;
}

#gallery.scrollable_container {
  scroll-behavior: smooth;
}
